<table>
  <tr>
    <th>Symbol</th>
    <th>Quantity</th>
    <th>Starting price</th>
    <th>Current Trading Price</th>
    <th>Gross Profit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stocks.each do |stock| %>
  <tr>
    <td><%= stock.symbol %></td>
    <td><%= stock.quantity %></td>
    <td><%= number_to_currency(stock.starting_price) %></td>
    <td><%= number_to_currency(stock.latest_price) %></td>
    <td><%= number_to_currency(current_user.stock_profit(stock)) %></td>
    <td><%= link_to 'Show', user_stock_path(current_user.id, stock.id) %></td>
    <td><%= link_to 'Edit', edit_user_stock_path(current_user.id, stock.id) %></td>
    <td><%= link_to 'Destroy', user_stock_path(current_user.id, stock.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>