<p id="notice"><%= notice %></p>

<p>
  <b>Symbol:</b>
  <%= @stock.symbol %>
</p>

<p>
  <b>Quantity:</b>
  <%= @stock.quantity %>
</p>

<p>
  <b>Starting price:</b>
  <%= @stock.starting_price %>
</p>

<p>
  <b>User:</b>
  <%= @stock.user.email %>
</p>


<%= link_to 'Back', user_stocks_path %>
